body {
  font-family: "Roboto", sans-serif;
}
.logo {
  width: 250px;

  padding-left: 90px;
}
nav {
  font-weight: 250;
}
#btn-get {
  background-color: #21b573;
  border-radius: 33px;
  height: 43px;
  width: 153px;
  text-align: center;
  color: white;
}
#header-content {
  padding-top: 50px;
}
#header1 {
  background-color: white;
  padding-bottom: 100px;
}
h1 {
  font-size: 40px;
  font-weight: normal;
}
h6 {
  color: black;
  font-size: 16px;
}
p {
  font-size: 16px;
  color: lightslategray;
  font-weight: medium;
}

#illustration {
  height: 346px;
  width: 554px;
}
